In [2]:
import numpy as np
import pandas as pd

In [6]:
data=pd.read_csv(r"C:\Users\murali\Downloads\insurance_data.csv")

In [8]:
data.head()

   age  affordibility  bought_insurance
0   22              1                 0
1   25              0                 0
2   47              1                 1
3   52              0                 0
4   46              1                 1

In [17]:
from sklearn.preprocessing import MinMaxScaler
sc=StandardScaler()
data['Age']=sc.fit_transform(np.array(data['age']).reshape(-1,1))
data.drop(['age'],axis=1,inplace=True)

In [19]:
data.head()

   affordibility  bought_insurance       Age
0              1                 0 -1.175749
1              0                 0 -0.978617
2              1                 1  0.467014
3              0                 0  0.795566
4              1                 1  0.401303

In [21]:
X=data[['Age','affordibility']]
y=data['bought_insurance']

In [34]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.25,random_state=45)

In [35]:
X_train.shape

(21, 2)

In [36]:
X_test.shape

(7, 2)

sigmoid activatition function for binary classification problems

In [37]:
def sigmoid(X):
    return 1/(1+np.exp(-X))

Loss function -log loss/binary cross entropy

In [38]:
def logloss(y_true,y_pred):
    epsilon=1e-15
    y_pred = np.clip(y_pred, epsilon, 1 - epsilon)
    l=-np.mean(y_true*np.log(y_pred)+(1-y_true)*np.log(1-y_pred))
    return l

In [39]:
def gradient_descent(X,y,epochs,l_thres,rate=0.02):
    X=X.to_numpy() if hasattr(X,'to_numpy') else np.array(X)
    y=np.array(y)
    length,features=X.shape
    weigths=np.array([1]*features)
    bias=0
    weighted_sum=np.dot(X,weigths)+bias
    y_pred=sigmoid(weighted_sum)
    loss=logloss(y,y_pred)
    dw=(1/length)*np.dot(X.T,(y_pred-y))
    db=np.mean(y_pred-y)
    weigths=weigths-rate*dw
    bias=bias-rate*db
    if loss<=l_thres:
        print('weights',weigths,'bias',bias,'loss',loss)
    return weigths,bias

In [40]:
class myNN:
    def __init__(self):
        self.weights=None
        self.bias=0
    def fit(self,X,y,epochs,l_thres):
        self.weights,self.bias=gradient_descent(X,y,epochs,l_thres)
    def predict(self,X_test):
        X_test=X_test.to_numpy() if hasattr(X,'to_numpy') else np.array(X_test)
        ws=np.dot(X_test,self.weights)+self.bias
        return sigmoid(ws)

In [41]:
insurance_model=myNN()

In [42]:
insurance_model.fit(X_train,y_train,epochs=7,l_thres=0.45)

In [44]:
X_test

         Age  affordibility
10 -1.438591              1
23  0.335593              1
27  0.401303              1
24  0.664145              1
13 -0.715775              0
25  0.926987              1
7   1.321250              0

In [43]:
insurance_model.predict(X_test)

array([0.39039759, 0.79130932, 0.80197836, 0.84053088, 0.32736503,
       0.87276843, 0.78948571])

0=<0.5
1=>=0.5

In [45]:
data

    affordibility  bought_insurance       Age
0               1                 0 -1.175749
1               0                 0 -0.978617
2               1                 1  0.467014
3               0                 0  0.795566
4               1                 1  0.401303
5               1                 1  1.058408
6               0                 0  0.992698
7               0                 1  1.321250
8               1                 1  1.452671
9               1                 1  1.386961
10              1                 0 -1.438591
11              1                 0 -0.781486
12              0                 0 -0.847196
13              0                 0 -0.715775
14              1                 1  0.598435
15              1                 1  0.992698
16              0                 1 -0.978617
17              1                 1  1.189829
18              0                 0 -1.372880
19              1                 0 -1.438591
20              1                 0 -1.241459
21              0                 0 -0.912907
22              1                 1  0.007040
23              1                 1  0.335593
24              1                 1  0.664145
25              1                 1  0.926987
26              1                 0 -1.110038
27              1                 0  0.401303